$main-red: #C81D25;
$text-color-light:#fdd8d8;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif
}

body{
    background-color: $main-red;
}

.wrapper{
    width: 400px;
    // border: 1px solid white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.container{
    width: 100%;
    background-color: $main-red;
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgba(87,11,16,0.5);
    position: relative;
    border-radius: 10px;
    text-align: center;
    &::after{
        content: "";
        position: absolute;
        width: 80%;
        height: 120%;
        background-color: white;
        z-index: -1;
        top: -10%;
        left: 10%;
    }
    p{
        color: $text-color-light;
        line-height: 2;
        font-size: 18px;
    }

    h3{
        color: white;
        margin: 20px 0 60px 0;
        font-weight: 600;
        text-transform: capitalize;
    }
    
    button{
        background-color: white;
        border: none;
        padding: 15px 45px;
        border-radius: 5px;
        color: $main-red;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
    }
}